body {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 800px;
  background-color: #11381f;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
}

h1 {
  color: #72e0b1;
}

a {
  color: #49ba89;
  text-decoration: none;
}